@import 'https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap';
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#app {
  width: 90%;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100%;
  background-color: var(--VeryLightGray);
}

.card {
  background-color: cornflowerblue;
  display: flex;
  max-width: 340px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.first {
  background: #e38826;
}

.colorFirst {
  color: #e38826;
  cursor: pointer;
}

.colorFirst:hover {
  color: rgba(255, 255, 255, 0.75);
  background-color: #e38826;
  border: 2px solid rgba(255, 255, 255, 0.75);
}

.second {
  background-color: #006970;
}

.colorSecond {
  color: #006970;
  cursor: pointer;
}

.colorSecond:hover {
  color: rgba(255, 255, 255, 0.75);
  background-color: #006970;
  border: 2px solid rgba(255, 255, 255, 0.75);
}

.third {
  background-color: #004241;
}

.colorThird {
  color: #004241;
  cursor: pointer;
}

.colorThird:hover {
  background-color: #004241;
  color: rgba(255, 255, 255, 0.75);
  border: 2px solid white;
}

.img {
  padding-top: 35px;
  padding-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.img img {
  width: 64px;
}

.tittle {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  margin: 0 auto;
}
.tittle h3 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  color: #f2f2f2;
  font-size: 1.4em;
}

.text {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  margin: 0 auto;
}
.text p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.75);
  line-height: 32px;
}

.button {
  padding-top: 20px;
  padding-bottom: 35px;
  width: 80%;
  margin: 0 auto;
  text-align: start;
}
.button button {
  padding: 15px 30px 15px 30px;
  border-radius: 25px;
  border: 2px solid transparent;
  font-family: "Lexend Deca", sans-serif;
}

.card:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card:nth-child(3) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.attribution {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.attribution a {
  color: #004241;
}

@media screen and (min-width: 500px) {
  #app {
    width: 80%;
    grid-template-columns: auto auto;
  }

  .card:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .attribution {
    grid-column: span 2;
  }
}
@media screen and (min-width: 1000px) {
  #app {
    width: 80%;
    grid-template-columns: auto auto auto;
  }

  .card:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }

  .card:nth-child(3) {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .tittle h3 {
    font-size: 2em;
  }

  .text {
    padding-bottom: 60px;
  }
  .text p {
    font-size: 0.9em;
  }

  .attribution {
    grid-column: span 3;
  }
}

/*# sourceMappingURL=style.css.map */
